@charset "utf-8";
/* CSS Document */

.container .row .breadcrumb {
	margin-top: 16px;
	height: 63px;
	font-size: 30px;
	font-weight: 500;
	color: rgba(192,207,193,1.00);
	background-color: rgba(147,248,162,1.00);
}
.container .text-center .span_blog.txt_darkgrey {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: 28px;
	text-align: center;
	color: rgba(85,83,83,1.00);
}
.container .img-responsive {

}


